.header {
  border: 1px solid #ececec;

  .container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1199px) {
      justify-content: space-between;
    }
  }
}

.header-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }

  font-size: 14px;
  line-height: 1.143;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header__item {
  &__item + &__item {
    margin-left: 50px;
  }
}
.header__link {
  padding-top: 32px;
  padding-bottom: 31px;

  color: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }

  &__list {
    display: flex;
    margin-right: 0;

    font-size: 14px;
    line-height: 1.143;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  &__item {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    padding-top: 32px;
    padding-bottom: 31px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--while-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &--current {
      color: var(--accent-color);
    }

    &--current::after {
      position: absolute;
      content: "";
      bottom: -1px;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }
}

.subscribe-form__button,
.header .container,
.nav__list,
.header-contacts__link,
.team-wrapper {
  display: flex;
  align-items: center;
}
