.our-team-section {
  background: var(--soft-grey);
}

.team-list {
  display: flex;
  background: var(--soft-grey);

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__item {
    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.team__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: var(--while-color);
}

.team__description {
  text-align: center;

  font-size: 16px;
  line-height: 1.188;

  color: var(--grey-color);
}

.team-wrapper {
  padding-top: 30px;
}
