.button {
  padding: 10px 10px;

  font-family: inherit;
  font-style: inherit;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-weight: 700;

  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  color: inherit;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  color: var(--white-color);

  background-color: var(--accent-color);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.modal-form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0;

  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  color: var(--white-color);

  border: 0px solid transparent;
}

.subscribe-form__button {
  position: relative;
  margin-top: 20px;

  width: 200px;
  height: 50px;
  padding-right: 62px;
  padding-left: 29px;

  border: 0px solid transparent;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--white-color);

  &::after {
    background-image: url(../images/icons/icon-send.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    content: "";
    top: 13px;
    right: 28px;
    fill: var(--white-color);
  }
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;

  &__item {
    margin-right: 8px;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &__button {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;

    background-color: var(--soft-grey);
    border-radius: 4px;
    color: var(--while-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--white-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}
