.section-title {
  margin-bottom: 30px;

  text-align: center;

  font-size: 28px;
  line-height: 1.176;

  color: var(--while-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.166;
  }
}
