.social-list {
  display: flex;
  justify-content: center;

  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;

  &__item {
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;

    fill: #afb1b8;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;

    fill: var(--icons-color);
  }
}

.social-list .social-list__link:hover,
.social-list .social-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}
