:root {
  --accent-color: #2196f3;
  --while-color: #212121;
  --white-color: #ffffff;
  --grey-color: #757575;
  --dark-grey: #2f303a;
  --soft-grey: #f5f4fa;
  --icons-grey: #afb1b8;
  --black-logo: #000000;
  --card-border-color: #eeeeee;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}
